bin/*
obj/*
build-Debug/*
compile_flags.txt
tags.txt
.tags
tags
tda-practica2.workspace
tda-practica2.mk
tda-practica2.project
AYED-TP.layout
AYED-TP.depend
.codelite/*
.vscode/*
Makefile
AYED-TP.mk
make.sh
help.txt
test